/* General page styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color:#faafff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Image Gallery Section */
.studentsImages {
    max-height: 300px;
    min-height: 200px;
    min-width: 200;
    max-width: 950px;
    margin: auto;
    padding: 20px;
}

/* Image Container Grid */
.image-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
}

/* Individual Image Styling */
.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;  

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

/* Hover Effects */
.image-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

/* Responsive Design */
@media (max-width: 600px) {
    .image-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}